<h1>계속 개발중입니다.</h1>
<p>by <a href="http://gnujoow.github.io">@gnujoow</a></p>
<p>이용 방법</p>
<p>과목번호를 입력하면 학년별 빈자리를 볼 수 있습니다. 예) 1460</p>
<form action="/home/search" target='_blank'>
	<input type="text" name="sbjtId">
	<input type="submit" value="yes">
</form>

<p>수강신청에 대한 자세한 내용은 <a href="http://www.konkuk.ac.kr/jsp/Haksa/haksa_02_01_01.jsp">우리학교 홈페이지</a>에서 확인하시기 바랍니다.</p>

<a href="http://kupis.konkuk.ac.kr/sugang/acd/cour/time/SeoulTimetableInfo.jsp" target='_blank'>종합강의 시간표</a>



<br><br><br>

<a href="https://www.facebook.com/likelionkonkuk/?fref=ts">멋쟁이사자처럼 X 건국대</a>